.todo {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content-top {
  .todo-header {
    padding-top: 10%;
    .register {
      margin: 10px 0 60px 0;
    }
  }
  .todo-body {
    width: 550px;
    margin: 0 auto;
    text-align: left;
  }
}

.content-center {
  .todo-header {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    .register {
      margin: 10px 0 0 0;
    }
  }
}
